@font-face {
    font-family: 'brandon';
    src: url('/fonts/BrandonGrotesque-Regular.otf');
    /* font-weight: normal; */
    /* font-style: normal; */
}

html {
    scroll-behavior: smooth;
}


button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    appearance: none; /* For modern browsers */
}

:root {
    --primary-color: #009fa5;
    --primary-color-alt: #6e6f71;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'brandon';
}


a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

body {
    background: #f4f4f4;
    min-height: 100vh;
    box-sizing: border-box;
}

#main-header{
    height: 100vh;
    background-image: url('/images/plantfull.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}


nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 70%;
    z-index: 10;
}

nav > #logo > img {
    height: 75px;
    width: auto;
    padding: 10px 0;
}

nav > #menu-items {
    display: flex;
}

nav > #menu-items > .nav-buttons{
    display: flex;
    font-size: 1.1rem;

}

nav #menu-items ul li {
    /* flex: 1; */
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

nav > #menu-items > ul > li > a {
    color: white;
    width: 100%;
    padding: 40px 40px;
}

nav > #menu-items > ul > li:hover {
    color: white;
    background-color: var(--primary-color);
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
}

.sidebar a {
    width: 100%;
}

nav #menu-items .sidebar li a {
    color: black;
    width: 100%;
}

nav #menu-items .open-menu {
    display: none;
}



#hero {
    z-index: 9;
    position: relative;
    text-align: center;
    color: white;
    font-size: 1.8rem;
    margin-top: 50px;
}

.logo {
    height: 300px;
    width: auto;
    margin: 0;
}

.hero-button {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: var(--primary-color)
}

.hero-button:hover {
    transform: scale(1.4);
}

#link-cards {
    display: flex;
    max-width: 70%;
    justify-content: space-around;
    margin: 7rem auto;
}

.card {
    width: 25%;
    height: 400px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    justify-content: space-between;
    color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 10px 10px 20px rgba(0, 0, 0, 0.4);
}


.card:hover {
    transform: scale(1.2);
}

.card > h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;

}

.card > p {
    color: #333;
    font-size: 1.1rem;
    text-align: center;
    margin-top: -30px;
    margin-left: 10px;
    margin-right: 10px;
}

.card > span {
    text-align: center;
    padding: 20px;
}

#contact {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 70%;
    /* height: 100%; */
}

.contact-info{
    overflow: hidden;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-info > h1 {
    font-size: 3rem;

}

.contact-info > p {
    font-size: 1.3rem;
}

.contact-info > .questions {
    justify-self: flex-end;
}

.contact-info > .questions > a> span {
    color: blue;
}

.bold {
    font-weight: bold;
}
.card.about {
    background: url(/images/about.jpeg) no-repeat center center/cover;
}

.card.about::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5fbebbdd;
    border-radius: 10px;
    z-index: -1;
}
.card.products {
    background: url(/images/Products.jpg) no-repeat center center/cover;
}

.card.products::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #bcc362dd;
    border-radius: 10px;
    z-index: -1;
    /* box-shadow: 2px 2px 4px #bcc362dd, 0px 10px 20px #bcc362ff */
}

.card.careers {
    background: url(/images/work.jpeg) no-repeat center center/cover;
}

.card.careers::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5fbebbdd;
    border-radius: 10px;
    z-index: -1;
}


#products-info {
    max-width: 70%;
    margin: 0 auto;
}

#products-info > h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
}

#products-info > hr {
    height: 5px;
    background-color: black;
}

#products-info > p {
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem 0 4rem 0;
}

.product {
    display: flex;
    color: white;
    gap: 10px;
    margin: 10px 0 5rem 0;

}

.product.reverse {
    flex-direction: row-reverse;
    gap: 10px;
    margin: 10px 0 5rem 0;
}

.product img {
    display: flex;
    width: 50%;
    /* margin: 0 auto; */
}

.products-summary {
    width: 50%; 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    margin: 0 auto;
    /* margin-bottom: 2rem; */

}

.products-summary.reverse {
    background-color: var(--primary-color-alt);
}


.products-summary > h1 {
    font-size: 3rem;
}

.products-summary > p {
    font-size: 1.2rem;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

#contact-form {
    max-width: 70%;
    margin: 2rem auto;
    text-align: center;
}

legend {
    font-size: 2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}


.inputs > input {
    width: 70%;
    align-self: center;
    height: 30px;
    margin-bottom: 10px;
}   

.inputs > textarea {
    width: 70%;
    align-self: center;
    height: 200px;
}

.button-group {
    margin: 3rem 0 0 0;
}

.button-group > button {
    padding: 15px 50px;
    background-color: var(--primary-color-alt);
    border-radius: 5px;
}

footer {
    background-color: #555;
}

#footer {
    display: flex;
    width: 70%;
    margin: 0 auto;
    color: #fff;
}



.logo-div > img {
    height: 200px;
    width: auto;
    padding: 2.5rem;
}

.info-div {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-sect {
    border-bottom: 1px solid black;
    /* width: 100%; */
}

.nav-sect > ul {
    display: flex;
    justify-content: space-around;
}

.nav-sect > ul > li {
    padding: 25px;
}

.nav-sect > ul > li >a {
    color: #fff
}

.copy-right {
    text-align: center;
    margin-top: 25px;
}


@media (max-width: 1000px) {


    nav #menu-items .open-menu {
        display: block;
        margin-top: 20px;
        margin-left: 50px;
    }


    nav #menu-items ul .hideMobile {
        display: none;
    }

    nav > #logo > img {
        height: 50px;
        width: auto;
        padding: 10px 0;
    }

    .logo {
        height: 200px;
        width: auto;
        margin: 100px 0 50px;
    }

    #hero h1 {
        font-size: 3rem;
        margin-bottom: 50px;
    }

    #link-cards {
        flex-direction: column;
        width: 70%;
    }

    #link-cards .card {
        width: 100%;
        margin: 20px 0;
    }

    .product {
        flex-direction: column;
    }

    .product.reverse {
        flex-direction: column;
    }

    .product img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .product .products-summary {
        width: 100%;
    }


    #contact {
        flex-direction: column;
    }

    .contact-info {
        width: 100%;
        margin: 50px 0;
    }

    iframe {
        height: 500px;
        width: auto;
    }

    .logo-div {
        display: none;
    }

    #footer {
        padding: 20px;
        width: 90%
    }

    #footer ul li {
        font-size: .8rem;
    }
}